Zak/Zak/Service References/EventLogReference/EventLogAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventLogAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51933/EventLogAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51933/EventLogAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51933/EventLogAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EventLog" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EventLogInterface_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="EventLogInterface_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="EventLogInterface_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="EventLogInterface_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="EventLogInterface_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="EventLogInterface_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="EventLogInterface_Dummy_InputMessage">
    <wsdl:part name="parameters" element="tns:Dummy" />
  </wsdl:message>
  <wsdl:message name="EventLogInterface_Dummy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DummyResponse" />
  </wsdl:message>
  <wsdl:portType name="EventLogInterface">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/EventLogInterface/Create" message="tns:EventLogInterface_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EventLogInterface/CreateResponse" message="tns:EventLogInterface_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/EventLogInterface/GetStatus" message="tns:EventLogInterface_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EventLogInterface/GetStatusResponse" message="tns:EventLogInterface_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/EventLogInterface/GetHistory" message="tns:EventLogInterface_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EventLogInterface/GetHistoryResponse" message="tns:EventLogInterface_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <wsdl:input wsaw:Action="http://tempuri.org/EventLogInterface/Dummy" message="tns:EventLogInterface_Dummy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EventLogInterface/DummyResponse" message="tns:EventLogInterface_Dummy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_EventLogInterface" type="tns:EventLogInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/EventLogInterface/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/EventLogInterface/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="http://tempuri.org/EventLogInterface/GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <soap:operation soapAction="http://tempuri.org/EventLogInterface/Dummy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventLogAPI">
    <wsdl:port name="BasicHttpBinding_EventLogInterface" binding="tns:BasicHttpBinding_EventLogInterface">
      <soap:address location="http://localhost:51933/EventLogAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>